
html{
	font-family: 'Lato', sans-serif;
	background-color: #F8F8F8;
}

h1{
	font-size: 2.0em;
	width:100%;
	text-align: center;
}


.q-container{
	background-color:#6BB5F9;
	margin:0 auto;
	border-radius: 25px;
	width:65%;
	height:600px;
	max-height:1200px;
	padding:4%;
	display:flex;
	opacity:.77;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom:50px;
}

h3{
	font-size: 1.5em;
	width:100%;
}


.q-container input[type=submit]{
	margin-top:30px;
	width: 100%;
	margin-bottom:65px;
}


fieldset{
	margin-top:70px;
	border-color: black;
	height:80px;
}

.hidden{
	display:none;
}


/*media queries*/
@media screen and (min-width:449px) {

	.q-container {
		width:45%;
		height:400px; 
	}


	.q-container input[type=submit]{
		margin-top:20px;
		width: 100%;
		margin-bottom:25px;
	}


	fieldset{
		margin-top:20px;
		border-color: black;
		height:60px;
	}
	
}


@media screen and (min-width:449px) and (max-width:750px) {

	.q-container {
		width:50%;
		height:510px; 
	}
	
	.q-container input[type=submit]{
		margin-top:20px;
		width: 100%;
		margin-bottom:25px;
	}


	fieldset{
		margin-top:20px;
		border-color: black;
		height:73px;
	}
}








