html{
	font-family: 'Lato', sans-serif;
}

h1{
	font-size: 2.0em;
	width:100%;
	text-align: center;
}


.q-container{
	background-color:#a28ad2;
	margin:0 auto;
	border-radius: 25px;
	width:65%;
	height:500px;
	max-height:1200px;
	padding:6%;
	display:flex;
	opacity:.77;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom:50px;
}

h3{
	font-size: 1.5em;
	width:100%;
}


.q-container input[type=submit]{
	margin-top:20px;
	width: 100%;
}

h5{

}



/*media query*/
@media screen and (min-width:449px) {

	.q-container {
		width:40%;
		height:300px; 
	}
	
}









